.abrir-modal
  background-color: rgba(0, 0, 0, 0.7)
  position: fixed
  top: 0px
  left:0px
  width: 100%
  height: 100%
  z-index: 1000
 

.animacion
  animation-duration: 2s
  animation-fill-mode: both
  -webkit-animation-duration: 2s
  -webkit-animation-fill-mode: both
 

.fadeIn
  animation-name: fadeIn
  -webkit-animation-name: fadeIn
 
#Gryffindor
    $color : #540404
    background-color: $color
    $fontColor: #FFFFFF
    color: $fontColor

#Slytherin
    $color : #5a7708
    background-color: $color
    $fontColor: #FFFFFF
    color: $fontColor

#Ravenclaw
    $color :#0a7ea4
    background-color: $color
    $fontColor: #FFFFFF
    color: $fontColor

#Hufflepuff
    $color :#ba8c0a
    $fontColor: #FFFFFF
    color: $fontColor
    background-color: $color
