<div class="abrir-modal animacion fadeIn" *ngIf="modalService.modal">
    <div class="modal" role="dialog" tabindex="-1" style="display: block;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{titulo}}</h5>
                    <button type="button" (click)="cerrarModal()" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id={{student.house}}>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <ul *ngIf="student" class="list-group text-dark mb-3">
                                    <li class="list-group-item active" *ngIf="student.name">Name: {{student.name}} {{student.lastName}}</li>
                                    <li class="list-group-item" *ngIf="student.species">Species: {{student.species}}</li>
                                    <li class="list-group-item" *ngIf="student.gender">Gender: {{student.gender}}</li>
                                    <li class="list-group-item" *ngIf="student.house">House: {{student.house}}</li>
                                    <li class="list-group-item" *ngIf="student.ancestry">Ancestry: {{student.ancestry}}</li>
                                    <li class="list-group-item" *ngIf="student.gender">Actor: {{student.actor}}</li>
                                </ul>
                            </div>
                            <div class="col-sm">
                                <img *ngIf="student?.image" src={{student.image}} alt="{{student.image}}" class="img-thumbnail rounded" style="height: 300Px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>