<div class="cardCasas card col-md" id={{nombreCasa}}>
    <img src={{this.urlImageCasa}} class="card-img-top" [routerLink]="['/estudiantes', nombreCasa]">
    <div class="card-body">
        <h5 class="card-title">{{nombreCasa}}</h5>
    </div>
    <div class="card-body" *ngIf="this.students">
        <div class="row">
            <p>Numero de estudiantes: </p>
            <p>{{this.students.length}}</p>
        </div>
    </div>
</div>