#Gryffindor
    $color : #540404
    background-color: $color
    $fontColor: #FFFFFF
    color: $fontColor

#Slytherin
    $color : #5a7708
    background-color: $color
    $fontColor: #FFFFFF
    color: $fontColor

#Ravenclaw
    $color :#0a7ea4
    background-color: $color
    $fontColor: #FFFFFF
    color: $fontColor

#Hufflepuff
    $color :#ba8c0a
    $fontColor: #FFFFFF
    color: $fontColor
    background-color: $color

.cardCasas
    flex-wrap: wrap
    flex: initial

.card-img-top
    height: 200px
    width: 100%
    