.navbar
    $color: #282d4b
    background-color: $color
    margin-bottom: 40px

.footer
    $color: #282d4b
    $fontColor: #FFFFFF
    background-color: $color
    color: $fontColor
    height: 60px
    bottom: 0
    width: 100%
    position: fixed
    margin-top: 20px
