<nav class="navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['']" >
            <img src="../../assets/img/hogwarts-school-shield.jpg" alt="" width="50" height="50"
                class="d-inline-block align-top">
            Magician School Education
        </a>
    </div>
</nav>
<div class="container">
    <div>
        <router-outlet></router-outlet>
    </div>
</div>
<footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <span class="offset-md-5">
          <i class="fa fa-id-card" aria-hidden="true"></i>
          Sebastian Grajales Meza
        </span>
      </div>
      <div class="row">
        <span class="offset-md-5">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          sebastian.grajales1992@gamil.com
        </span>
      </div>
    </div>
  </footer>

