@import "../node_modules/bootstrap/scss/bootstrap.scss"
@import '@swimlane/ngx-datatable/release/index.css'
@import '@swimlane/ngx-datatable/release/themes/bootstrap.css'
@import '@swimlane/ngx-datatable/release/assets/icons.css'

html
    position: relative
    min-height: 100%
  

body 
    background-image: url('./assets/img/fondo.jpg')
    background-repeat: no-repeat
    background-size: 100% 100%
    min-height: 100%
    margin: 0
    margin-bottom: 60px
    display: block


