.tableStudents
    border-style: groove
  
  
:host ::ng-deep .datatable-body-cell-label 
    white-space: normal !important
  
  
:host ::ng-deep .datatable-header-cell 
    white-space: normal !important
    font-weight: bold
  
  
:host ::ng-deep .datatable-scroll 
    width: 100% !important

.img-blood
    width: 50px
    height: 60px
    margin-button: 5px

#Gryffindor
    $color : #540404
    background-color: $color
    $fontColor: #FFFFFF
    color: $fontColor

#Slytherin
    $color : #5a7708
    background-color: $color
    $fontColor: #FFFFFF
    color: $fontColor

#Ravenclaw
    $color :#0a7ea4
    background-color: $color
    $fontColor: #FFFFFF
    color: $fontColor

#Hufflepuff
    $color :#ba8c0a
    $fontColor: #FFFFFF
    color: $fontColor
    background-color: $color

#imgActor
    width: 50px
    margin: 5px

.btn
    margin-left: 5px