<app-detalle-estudiante [student]="this.student"></app-detalle-estudiante>
<div class="input-group mb-3">
    <div class="col-4">
        <input type="text" class="form-control" placeholder="" aria-label="Nombre" aria-describedby="buttonFilter" [(ngModel)]="this.nombreBuscar">
    </div>
    <button class="btn btn btn-success" type="button" id="buttonFilter" (click)="filtrar()">Filtrar</button>
    <button class="btn btn btn-success" type="button" id="buttonFilter" (click)="borrarFiltrar()">Borrar filtro</button>
</div>
<section id="filter" class="mb-3">
    <div class="row">
        <div class="col-sm-12">
          <ngx-datatable id={{nombreCasa}} #table class='bootstrap tableStudents' 
            [rows]="this.lstStudents"
            [scrollbarH]="true" 
            [rowHeight]="100" 
            [summaryPosition]="'top'"
            [footerHeight]="40"
            columnMode="force"
            [limit]="8"
            [messages]="{emptyMessage:'No hay información para mostrar'}"
            [reorderable]="true">

            <ngx-datatable-column prop="name" [resizeable]="false" [width]="250">
                <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
                  Nombre
                  <i class="fa fa-sort" aria-hidden="true" (click)="ordenarNombre()"></i>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column prop="lastName" [resizeable]="false" [width]="250">
                <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
                  Apellido
                  <i class="fa fa-sort" aria-hidden="true" (click)="ordenarApellido()"></i>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="imagen" [resizeable]="false" [sortable]="true">
                <ng-template ngx-datatable-header-template>
                    Imagenes
                </ng-template>
                <ng-template class="accion" let-row="row" ngx-datatable-cell-template>
                    <img src={{row.image}} alt={{row.image}} id="imgActor">
                </ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column name="sangre" [resizeable]="false" [sortable]="true">
                <ng-template ngx-datatable-header-template>
                    estatus de sangre
                </ng-template>
                <ng-template class="accion" let-row="row" ngx-datatable-cell-template>
                    <img class="img-blood" src={{row.bloodStatus}} alt={{row.bloodStatus}}>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="sangre" [resizeable]="false" [sortable]="true">
                <ng-template ngx-datatable-header-template>
                    Visualizar
                </ng-template>
                <ng-template class="accion" let-row="row" ngx-datatable-cell-template>
                    <button type="button" class="btn btn-info" style="vertical-align: baseline;" (click)=abrirModal(row) style="margin-top: 20px;">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </ng-template>
            </ngx-datatable-column>

          </ngx-datatable>
        </div>
      </div>
</section>